#mainGrid { -fx-background-color: rgb(20, 22, 27); }


#secondaryGrid {
    -fx-pref-width: 450px;
    -fx-background-color: white;
}

#title {
    -fx-pref-width: 450px;
    -fx-pref-height: 50px;
    -fx-background-color: rgb(232, 163, 72);
    -fx-text-fill: rgb(20, 22, 27);
    -fx-font-size: 23;
    -fx-font-weight: BOLD;
    -fx-alignment: CENTER;
}

.radio-button {
    -fx-pref-width: 200px;
    -fx-pref-height: 25;
    -fx-font-size: 14;
    -fx-font-weight: BOLD;
}

.text-field {
    -fx-pref-width: 420px;
    -fx-pref-height: 40px;
    -fx-font-size: 16;
    -fx-font-weight: BOLD;
}

.button {
    -fx-pref-width: 220px;
    -fx-pref-height: 40px;
    -fx-border-width: 2px;
    -fx-font-size: 17;
    -fx-font-weight: BOLD;
    -fx-text-fill: WHITE;
}

#register {
    -fx-background-color: linear-gradient(to bottom right, rgb(253, 293, 18), rgb(223, 67, 58));
    -fx-border-color: linear-gradient(to bottom right, rgb(253, 293, 18), rgb(223, 67, 58));
}
#register:hover {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to right, rgb(253, 293, 18), rgb(223, 67, 58));
    -fx-text-fill: linear-gradient(to right, rgb(253, 293, 18), rgb(223, 67, 58));
}

#back {
    -fx-background-color: linear-gradient(to right, rgb(65, 2, 214), rgb(160, 61, 152));
    -fx-border-color: linear-gradient(to right, rgb(65, 2, 214), rgb(160, 61, 152));
}
#back:hover {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to right, rgb(65, 2, 214), rgb(160, 61, 152));
    -fx-text-fill: linear-gradient(to right, rgb(65, 2, 214), rgb(160, 61, 152));
}

#info {
    -fx-pref-width: 40px;
    -fx-background-radius: 50%;
    -fx-background-color: rgb(30, 150, 255);
}