#mainGrid { -fx-background-color: rgb(42, 65, 88); }


.table-view .table-cell {
    -fx-pref-height: 20px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: rgb(20, 22, 27);
    -fx-text-fill: rgb(20, 22, 27);
    -fx-font-size: 13;
    -fx-font-weight: BOLD;
    -fx-alignment: CENTER;
}

.table-view .column-header {
    -fx-background-color: rgb(20, 22, 27);
    -fx-border-width: 3px 0px 0px 0px;
    -fx-border-color: rgb(25, 186, 189);
    -fx-pref-height: 40px;
    -fx-text-fill: rgb(200, 200, 200);
}

.table-view .column-header .label {
    -fx-text-fill: rgb(200, 200, 200);
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#exit {
    -fx-background-color: RED;
    -fx-text-fill: WHITE;
    -fx-font-weight: BOLD;
    -fx-font-size: 22;
    -fx-background-radius: 5px;
    -fx-pref-width: 125px;
    -fx-pref-height: 35px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-border-color: RED;
}

#exit:hover { -fx-background-color: rgb(20, 22, 27); }